<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Mes Appareil</h2>
            <ul class="list-group">

                <app-appareil name2="à laver"></app-appareil>
                <app-appareil name2="Télévision"></app-appareil>
                <app-appareil name2="ordinateur"></app-appareil>

            </ul>
            <button class="btn btn-success" [disabled]="!isauth" (click)="onAllumer()"> Tout allumer</button>
        </div>



    </div>


</div>